<div class="calendar-app">

    <div class='calendar-sidebar'>
        <button type="button" (click)="toggleSidebar($event)" class="toggle-sidebar closed"></button>
        <div id="sidebar-container">

            <section id="sidebar-infos">
                <h2>Instructions</h2>
                <ul>
                    <li>Select dates and you will be prompted to create a new event</li>
                    <li>Drag, drop, and resize events</li>
                    <li>Click an event to delete it</li>
                </ul>
            </section>
            <section id="sidebar-options">
                <h2>Options</h2>
                <ul>
                    <li class="calendar-option">
                        <label for="display-weekends">
                            <input id="display-weekends"
                                type='checkbox'
                                [checked]='calendarOptions.weekends'
                                (change)='handleWeekendsToggle()'
                            />
                            Afficher les weekends
                        </label>
                    </li>
                </ul>
            </section>
            <section id="sidebar-events">
                <h2>All Events ({{currentEvents.length}})</h2>
                <ul>
                    <li *ngFor='let event of currentEvents'>
                        <b>{{event.startStr}}</b>
                        <i>{{event.title}}</i>
                    </li>
                </ul>
            </section>

        </div>
    </div>



    <div class='calendar-main'>
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
            <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i>
            </ng-template>
        </full-calendar>
    </div>

</div>
