<button type="button" (click)="toggleSidebar($event)" class="toggle-sidebar closed"></button>
<div id="sidebar-container">
    <section id="sidebar-infos">
        <div style="white-space: nowrap">Propriétaire : userPseudo</div>
        <div style="white-space: nowrap">Participants : userPseudoList</div>
    </section>
    <section id="sidebar-options">
        <ul>
            <li>
                <span class="option-label">Option 1 :</span>
                <span class="option-value"> Value</span>
            </li>
            <li>
                <span class="option-label">Option 2 :</span>
                <span class="option-value"> Value</span>
            </li>
        </ul>
    </section>
</div>
