<div class="calendar-app">

    <div id='calendar-sidebar' class="">
        <button type="button" (click)="toggleSidebar()" class="toggle-sidebar fc-icon fc-icon-chevrons-left"></button>
        <div id="sidebar-container">

            <section id="sidebar-infos">
                <h2 (click)="toggleSidebarSection($event,'sidebar-infos')">
                    <div class="fc-icon fc-icon-chevron-right rotate90"></div>
                    Infos
                </h2>
                <ul>
                    <li><b>Propriétaire</b><span class="owner">{{ user.pseudo }}</span></li>
                    <li><b>Collaborateurs</b>
                        <table id="collaborators" class="value">
                            <thead>
                                <th>Identifiant</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                            </thead>
                            <tr>
                                <td>Eve</td>
                                <td>Eve</td>
                                <td>Dutrottoir</td>
                                <td class="fc-icon fc-icon-chevrons-right rights" style="padding-left: 12px">
                                    <i>Lecture</i>
                                </td>
                            </tr>
                            <tr>
                                <td>roger</td>
                                <td>Roger</td>
                                <td></td>
                                <td class="fc-icon fc-icon-chevrons-right rights" style="padding-left: 12px">
                                    <i>Lecture</i>
                                </td>
                            </tr>
                            <tr>
                                <td>Léa</td>
                                <td>Léa</td>
                                <td>Hamilton</td>
                                <td class="fc-icon fc-icon-chevrons-right rights" style="padding-left: 12px">
                                    <i>Modification</i>
                                </td>
                            </tr>
                            <tr>
                                <td>arctix83</td>
                                <td>Eloïse</td>
                                <td>Leclerc</td>
                                <td class="fc-icon fc-icon-chevrons-right rights" style="padding-left: 12px">
                                    <i>Modification</i>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </section>
            <section id="sidebar-options">
                <h2 (click)="toggleSidebarSection($event,'sidebar-options')">
                    <div class="fc-icon fc-icon-chevron-right rotate90"></div>
                    Options
                </h2>
                <ul>
                    <li class="calendar-option">
                        <label for="display-weekends">
                            <input id="display-weekends"
                                type='checkbox'
                                [checked]='calendarOptions.weekends'
                                (change)='handleWeekendsToggle()'
                            />
                            Afficher les weekends
                        </label>
                    </li>
                </ul>
            </section>
            <section id="sidebar-events">
                <h2 (click)="toggleSidebarSection($event,'sidebar-events')">
                    <div class="fc-icon fc-icon-chevron-right rotate90"></div>
                    All Events ({{currentEvents.length}})
                </h2>
                <ul>
                    <li *ngFor='let event of currentEvents'>
                        <b class="date-event">{{event.startStr}}</b>
                        <span> - {{event.title}}</span>
                    </li>
                </ul>
            </section>
            <section id="sidebar-help" class="closed">
                <h2 (click)="toggleSidebarSection($event,'sidebar-help')">
                    <div class="fc-icon fc-icon-chevron-right"></div>
                    Aide
                </h2>
                <ul>
                    <li>Sélectionner une date pour créer un évènement</li>
                    <li>Cliquer, glisser, lacher pour déplacer un évènement</li>
                    <li>Sélectionner un évènement pour le supprimer</li>
                </ul>
            </section>

        </div>
    </div>



    <div id='calendar-main'>
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions' [events]="events">
            <ng-template #eventContent let-arg>
                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                    <b>{{ arg.timeText }}</b>
                    <span *ngIf='arg.timeText.length>0 && arg.event.title.length>0'> </span>
                    <span>{{ arg.event.title }}</span>
                </div>
            </ng-template>
        </full-calendar>
    </div>

</div>
