h1 {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 1vh 2vw;
    padding-right: 14px;
    background: var(--main-color-lighter);
    color: var(--main-color-darkest);
    border-radius: 20px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--main-color-darkest);
    font-family: monospace;
    font-variant-caps: petite-caps;
    letter-spacing: 2px;
}
h1:first-letter {
    font-size: 1.3em;
    border-radius: 20px 0 0 20px;
    background: var(--main-color);
    color: white;
    margin-right: 8px;
    padding: 0 4px 0 14px;
    vertical-align: sub;
    border-color: var(--main-color-darkest);
    border-style: solid;
    border-width: 1px 0 2px 2px;
}

button {
    height: 100%;
    border: none;
    padding: 1.5vh 2vw;
    background: transparent;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: border-radius 0.5s;
}
button:hover {
    background: var(--main-color-lighter);
    color: var(--main-color-darkest);
    border-radius: 6px;
}
.menu.center {
    display: flex;
    justify-items: center;
    align-items: center;
    flex:2;
}
