button {
    position: relative;
    margin: 0 6px;
    padding: 6px 10px;
    background: var(--main-color);
    color: white;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--main-color-darker);
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: -1px 1px 3px -2px var(--main-color-darkest);
}
button:hover {
    box-shadow: none;
    border-color: var(--main-color);
}
.menu.center {
    display: flex;
    flex:2;
    justify-items: center;
    align-items: center;
    margin: 0 2vw;
}
.menu.right button {
    background: transparent;
    color: var(--main-color-darker);
    border: none;
    text-decoration: underline;
    box-shadow: none;
 }
