<h2>Page profil utilisateur</h2>
<!--TODO-->

<section>
    <div *ngIf="!isModified">
        <p>Pseudo : {{user.pseudo }}</p>
        <p>Email : {{user.email}}</p>
        <p>Prénom : {{user.firstname}} </p>
        <p>Nom : {{user.lastname}}</p>
        <p>Ville : {{user.city}}</p>
<!--"        <div *ngFor="let calendar of user.calendarRightsList "></div>"-->
        <p> Calendrier : {{user.calendarRightsList}}</p>
    </div>
    <div *ngIf="isModified">
        <p>Pseudo : {{user.pseudo }}</p>
        <p>Email : {{user.email}}</p>
        <form [formGroup]="modifyForm">
            <mat-form-field appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput value="{{user.firstname}}" formControlName="firstname">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput value="{{user.lastname}}" formControlName="lastname">
            </mat-form-field>
            <button mat-flat-button type = "submit" (click)="submitUser()">SUBMIT</button>
        </form>
        <p>Ville : {{user.city}}</p>
        <p> Calendrier : {{user.calendarRightsList}}</p>
    </div>

    <div *ngIf="!isModified">
        <button mat-flat-button type = "submit" (click)="toModify()"> Modifier ?</button>
    </div>
    <div *ngIf="isModified">
        <button mat-flat-button type = "submit" (click)="toModify()"> Ne pas modifier </button>
    </div>


</section>



