section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4vh 4vw;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
}

mat-form-field {
    width: 100%;
    margin: 2px 8px;
}

.mat-flat-button {
    margin: 2px 4px;
    color: white;
    background-color: var(--main-color);
}
