form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 4vw;
}
section {
    display: flex;
    flex-direction: row;
}
mat-form-field {
    width: 100%;
    margin: 2px 8px;
}
.mat-flat-button {
    margin: 2px 4px;
    color: white;
    background-color: var(--main-color);
}
button.cancel {
    background-color: dimgray;
}
.mat-button {
    color: var(--main-color-darkest);
    text-decoration: underline;
}
