<div class="calendars-content">
    <h2>Calendriers</h2>

    <section>
        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th><b>Identifiant</b></th>
                        <th><b>Prénom</b></th>
                        <th><b>Nom</b></th>
                        <th><b></b></th>
                    </tr>
                </thead>
                <tbody>
                <tr class="owner" routerLink="/calendar/2">
                    <td class="title first">
                        <div class=""><b>Mon calendrier</b></div>
                    </td>
                    <td>
                        <div class="">Martine</div>
                    </td>
                    <td>
                        <div class="">Martin</div>
                    </td>
                    <td>
                        <div class="">Duchemin</div>
                    </td>
                    <td class="last">
                        <div class="fc-icon fc-icon-chevrons-right" style="padding-left: 12px"><i>Propriétaire</i></div>
                    </td>
                </tr>
                <tr></tr>
                <tr  routerLink="/calendar/3">
                    <td class="title others first">
                        <div><b>Autres calendriers</b></div>
                    </td>
                    <td>
                        <div class="">Eve</div>
                    </td>
                    <td>
                        <div class="">Eve</div>
                    </td>
                    <td>
                        <div class="">Dutrottoir</div>
                    </td>
                    <td class="last">
                        <div class="fc-icon fc-icon-chevrons-right" style="padding-left: 12px">
                            <i>Modification</i>
                        </div>
                    </td>
                </tr>
                <tr  routerLink="/calendar/5">
                    <td class="first"></td>
                    <td>
                        <div class="">GégéDu69</div>
                    </td>
                    <td>
                        <div class="">Gérard</div>
                    </td>
                    <td>
                        <div class="">Duplantin</div>
                    </td>
                    <td class="last">
                        <div class="fc-icon fc-icon-chevrons-right" style="padding-left: 12px">
                            <i>Modification</i>
                        </div>
                    </td>
                </tr>
                <tr  routerLink="/calendar/4">
                    <td class="first"></td>
                    <td>
                        <div class="">roger</div>
                    </td>
                    <td>
                        <div class="">Roger</div>
                    </td>
                    <td>
                        <div class=""></div>
                    </td>
                    <td class="last">
                        <div class="fc-icon fc-icon-chevrons-right" style="padding-left: 12px">
                            <i>Lecture</i>
                        </div>
                    </td>
                </tr>
                <tr  routerLink="/calendar/6">
                    <td class="first"></td>
                    <td>
                        <div class="">Léa</div>
                    </td>
                    <td>
                        <div class="">Léa</div>
                    </td>
                    <td>
                        <div class="">Hamilton</div>
                    </td>
                    <td class="last">
                        <div class="fc-icon fc-icon-chevrons-right" style="padding-left: 12px">
                            <i>Modification</i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
